<div class="mainBar">
    <div (click)="handletabstate(0)" [ngClass]="{'active': tabstate[0]}">Amenities</div>
    <div>|</div>
    <div (click)="handletabstate(1)" [ngClass]="{'active': tabstate[1]}">Boarding and Dropping Points</div>
    <div>|</div>
    <div (click)="handletabstate(2)" [ngClass]="{'active': tabstate[2]}">Reviews</div>
    <div>|</div>
    <div (click)="handletabstate(3)" [ngClass]="{'active': tabstate[3]}">Booking Policies</div>
    <div>|</div>
    <div (click)="handletabstate(5)" [ngClass]="{'active': tabstate[5]}">Virtual Tour</div>
    <div>|</div>
    <div (click)="handletabstate(4)" [ngClass]="{'active': tabstate[4]}">VIEW SEATS</div>
  </div>
  
  <div class="displayArea" *ngIf="tabstate[0]">Amenities Content Here</div>
  <div class="displayArea" *ngIf="tabstate[1]">Boarding and Dropping Points Content Here</div>
  <div class="displayArea" *ngIf="tabstate[2]">Reviews Content Here</div>
  <div class="displayArea" *ngIf="tabstate[3]">Booking Policies Content Here</div>
  <div class="displayArea" *ngIf="tabstate[5]">
    <div id="panorama" style="width: 100%; height: 500px;"></div>
 <!-- Container for the 360-degree tour -->
  </div>
  <div class="displayArea" *ngIf="tabstate[4]">
    <app-view-seats 
      [filledseats]="filledseats" 
      [seatprice]="seatprice" 
      [routedetails]="routedetails" 
      [busid]="busid"
      [busarrivaltime]="busarrivaltime" 
      [busdeparturetime]="busdeparturetime" 
      [operatorname]="operatorname">
    </app-view-seats>
  </div>
  