.container {
  background-image: url('src/assets/bg.png'); /* Update with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 20px;
  color: #fff;
}

.title {
  font-size: 3rem;
  color: #fff;
  margin: 0; /* Remove default margin */
  padding: 20px 0; /* Add padding for spacing */
  font-family: 'Arial', sans-serif; /* Stylish font family */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  font-weight: bold;
  text-align: center; /* Center align the title */
}

.card-container {
  display: flex;
  justify-content: space-between; /* Space between text and gallery */
  align-items: flex-start; /* Align items to the top */
  width: 100%; /* Full width of the viewport */
  padding: 0 20px; /* Add horizontal padding if needed */
  box-sizing: border-box; /* Include padding in width calculation */
}

.text-container {
  flex: 1; /* Allow text container to take available space */
  margin-right: 20px; /* Space between text and gallery */
}

.travel-stories-text {
  margin-top: 10px; 
  width:600px;
  font-size: 1.5rem;
  color: #fff; /* Text color to ensure readability against background */
  text-align: left; /* Align text to the left */
  line-height: 1.2; /* Improve readability with line height */
}

.card {
  flex: 2; /* Allow Galleria to take more space */
}

.p-galleria {
  width: 100%; /* Ensure Galleria takes full width */
  background-color: #fff; /* White background for Galleria */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.p-galleria .ui-galleria-item {
  height: 300px; /* Adjust height as needed */
  overflow: hidden;
  background-color: #fff; /* White background for each item */
  border: none; /* Remove border */
}

.p-galleria .ui-galleria-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.caption {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 10px;
  border-radius: 5px;
  color: #fff; /* Text color for caption */
  text-align: center;
}

.caption-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.caption-text {
  margin: 0;
}

.p-galleria .ui-galleria-caption {
  max-height: 60px; /* Adjust as needed to reduce caption height */
}
