<div class="SingleTrip" >
    <div class="SingleTrip__image">
      <img [src]="randomimage" alt="bus" />
    </div>
    <div style="display: flex; justify-content: space-evenly">
      <div class="SingleTrip__busdetails">
        <div class="heading" style="font-weight: 600; font-size: large;">Bus Details</div>
        <!-- Insertion for Departure, Arrival details, and fare -->
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Location: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Time: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Departure Date: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Location: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Time: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Arrival Date: 
        </p>
        <p>
          <span class="material-icons" >radio_button_checked</span> Total Fare: 
        </p>
      </div>
      <div class="SingleTrip__persondetails">
        <div class="heading" style="font-weight: 600; font-size: large;">Passenger Details</div>

        <!-- Insertion for Passenger details -->
        <p>
          <span class="material-icons" >arrow_right_alt</span> Contact Email: 
          </p>
          <p>
            <span class="material-icons" >arrow_right_alt</span> Contact Phone Number: 
          </p>
          <div class="SingleTrip__customerDetails__passenger">
            <div >
              <p>
                <span class="material-icons" >arrow_right_alt</span> Name: 
              </p>
              <p>
                <span class="material-icons" >arrow_right_alt</span> Gender: 
              </p>
              <p>
                <span class="material-icons" >arrow_right_alt</span> Age:
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  